---
layout: splash
author_profile: true
search: false
header:
  overlay_image: /assets/images/headerColorBlock.jpg
actions:
    - label: "More Info"
      url: "https://unsplash.com"
      feature_row:
        - image_path: /assets/images/unsplash-gallery-image-1-th.jpg
          alt: "placeholder image 1"
          title: "Placeholder 1"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
        - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
          alt: "placeholder image 2"
          title: "Placeholder 2"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
          url: "#test-link"
          btn_label: "Read More"
          btn_class: "btn--inverse"
---
{% include sidebar %}

{{ content }}
Hello world!

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
